.forgot-formContainer {
    display:flex;
    position: relative;
    top: 40px;
    justify-content: center;
}
.forgot-form {
    background-color: #e0ffffa4;
    padding: 10px;
    width: min-content;
    border: 1px solid black;
    border-radius: 10px;
    color: #161616 !important;
    height: 250px;

  }

  h7 {
    color: #161616 !important;
  }

  .form {
    display: flex;
  }

  .forgotInput::placeholder{
    width: 200px;
    color: #606060 !important;
  }



  .sendBtnCnt {
    display: flex;
    position:relative;
    bottom: -10px;
    left: 75px
    
  }

  .forgot-fieldContainer {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    width: min-content;
    height: min-content;
    margin: 5px;
    background-color: dimgray;
  }
