.forgot-formContainer {
    display:flex;
    position: relative;
    top: 40px;
    justify-content: center;
}
.forgot-form {
    background-color: #e0ffffa4;
    padding: 10px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    color: #161616 !important;
    height: 250px;
    text-align: center;
  }

  h4 {
    color: #161616 !important;
    margin-bottom: 40px;
  }

  .form {
    display: flex;
  }

  .forgot-fieldCont{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: min-content;
    margin: 5px;
    background-color: dimgray;
    margin-left: 40px;
  }

  .forgotInput{
    width: 250px;
    background: transparent;
    border: none;
    border-radius: 8px;
  }


  .sendBtnCnt {
    display: flex;
    position:relative;
    bottom: -10px;
    left: 130px;
    
  }

  .forgot-fieldContainer {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    width: min-content;
    height: min-content;
    margin: 5px;
    background-color: dimgray;
  }
