.loginBody {
  display: flex;
}
.login-form {
  background-color: #e0ffffa4;
  padding: 20px;
  width: 400px;
  margin-block: 25px;
  margin-inline: 150px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}
.form {
  display: flex;
}
p {
  margin-bottom: 2px;
}
.fieldContainer {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  height: min-content;
  margin: 5px;
  background-color: dimgray;
  margin-left: 40px;
}
.icon {
  margin: 5px;
}
button {
  background-color: dodgerblue;
  border-radius: 5px;
  padding: 5px;
  padding-inline: 20px;
  color: floralwhite;
  border: none;
  margin: 10px;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
}
.formContainer {
  display: flex;
  justify-content: center;
}
.loginInput {
  width: 250px;
  color: black;
  border: none;
  border-radius: 6px;
  background: transparent;

}

.btn-login{
  margin: 5px;
  margin-left: 40px;
  width: 300px;
}
