.ProductDetail-container {
  /*display: flex;
  flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-areas: "pd-image pd-basic-info pd-tracks-container";
  width: 90%;
  height: 75vh;
  border: 2px solid black;
  margin: 50px;
  padding: 20px;

  background-image: url('/jpg/BN-crowd.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  z-index: -99999;
  font-family: 'Taviraj', serif;
}

.pd-image {
  width: 30vw;
  height: 100%;
  margin: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  grid-area: pd-image;
}
.pd-image img {
  height: 80%;
  margin: 5px;
}

.pd-basic-info {
  max-width: 25vw;
  height: 50vh;
  margin-top: 30px;
  grid-area: pd-basic-info;
}
.pd-name {
  font-size: 2em;
}
.pd-artist {
  font-size: 1.5em;
  font-style: italic;
}
.pd-description{
  display: flex;
  flex-wrap: wrap;
  width: 25vw;
  position: relative;
}

.pd-play-controls {
  font-size: 3em;
}
.pd-preview-text {
  font-size: 1em;
  color: black;
}

.pd-price-text{
  color: white;
  margin-left: 600px;
}

.pd-btn-text{
  width: 300px;
  margin-top: 10px;
  text-align: center;
  margin-left: 500px;
  margin-bottom: 100px;
}

.pd-btn-text:hover{
  background-color: #008F39;
  transition-duration: 1s;
}

.pd-categories-container {
  padding: 10px;
  margin: 10px;
  margin-left: -10px;
}


.category-label{
  margin-left: 10px;
  border: 2px solid white;
  width: 150px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -1px;
  margin-top: 7px;
}

.category-label:hover{
  background: black;
  transition-duration: 2s;
}

.pd-tracks-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  height: 300px;
  border: 2px solid white;
  grid-area: pd-tracks-container;
}

.track-label{
  margin-left: 10px;
  border: 2px solid white;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;

}

.track-label:hover{
  background: black;
  transition-duration: 2s;
}
