.ProductDetail-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 75vh;
  border: 2px solid black;
  margin: 50px;
  padding: 20px;

  background-image: url('/jpg/BN-crowd.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  z-index: -99999;
  font-family: 'Taviraj', serif;
}

.pd-image {
  width: 30vw;
  height: 100%;
  margin: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.pd-image img {
  height: 80%;
  margin: 5px;
}

.pd-basic-info {
  width: 50vw;
  height: 50vh;
  margin-top: 30px;
}
.pd-name {
  font-size: 2em;
}
.pd-artist {
  font-size: 1.5em;
  font-style: italic;
}
.pd-description {
  font-size: 1em;
}

.pd-play-controls {
  font-size: 3em;
}
.pd-preview-text {
  font-size: 1em;
  color: black;
}

.pd-categories-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
  width: 600px;
  height: 50px;
  border: 1px solid white;
  display: none;
}
